#btn {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	border-top: dashed 2px rgba(34, 36, 38, .1);
	border-bottom: dashed 2px rgba(34, 36, 38, .1);
	padding-top: 26px;
	padding-bottom: 26px;
	text-align: center;
	width: 1000px;
	height: 100px;
}

button {
	height: 48px;
	width: 130px;
}